.text__title {
  color: #fff;
  font-size: 86px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  letter-spacing: .2rem;
  padding: 0 32px;
}
.text__sub-title {
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  letter-spacing: .2rem;
  padding: 0 32px;
}
.text__description {
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  letter-spacing: .2rem;
  padding: 0 32px;
}

