.section {
  position: relative;
  z-index: 1;
  margin: 0 64px;
  &.section--intro {
    height: 100vh;
    display: flex;
    align-items: center;    
  }
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
}
.title {
  color: black;
  font-size: 86px;
  font-family: 'Nanum Myeongjo', serif;
  display: flex;
  flex-direction: column;
  letter-spacing: .2rem;
  padding: 0 32px;
}
